@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
.container {
  width: 100%;
  font-family: 'Lato';
  font-weight: 400;
}
.block{
  width: 100%;
  padding-top: 10vh;
  height: 80vh;
  background-color: #2b90d9;
}
blockquote {
  width: 100%;
border-left: none;
margin: auto;
}
.top-horizontal-line {
  width: 100%;
  margin: 70 auto;
  padding: 3rem 0;
  text-align: center;
}
.top-horizontal-line::before {
  position: absolute;
  left: 47%;
  margin-left: -1.5rem;
  content: '';
  width: 10rem;
  height: 2px;
  background: #d9e1e8;
  top: 0vh;
}

.text {
  font-size: 36px;
  text-align: center;
  font-family: 'Libre Baskerville';
  line-height: 1.35;
  color: #d9e1e8;
}
cite {
  color: #d9e1e8;
  font-size: 1.275rem;
font-family: 'Libre Baskerville';
  font-weight: 300;
  font-style: italic;
}

.threeImg{
  padding-top: 25vh;
}
.one{
  text-align: center;
}
.two{
  text-align: center;
}
.three{
  text-align: center;
}

.icoExplanation{
  margin: 30px auto 20px auto;
  padding: 5%;
  text-align: center;
}
.smallTitle{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.smallTitle, #team{
  padding-bottom: 4%;
}

.theTeam{
  padding: 5%;
}

hr{
  height: 1px;
  background: black;
  width: 60%;
}
