<div class="container">
  <div class="block">
    <div class="row">
      <div class="col-md-12">
        <blockquote class="top-horizontal-line">
          <p class="text">EVERYTHING YOU NEED TO START INVESTING IN <br>CRYPTOCURRENCIES</p>
          <cite>"let us help and find the best ICO's for you"</cite>
        </blockquote>
          <div class="row">
            <div class="col-md-3 col-md-offset-8">
              <a class="btn btn-primary" href="#" role="button">What is ICO ?</a>
            </div>
            <div class="row">
              <div class="threeImg">
                <div class="col-md-4">
                  <p class="one">img 1</p>
                </div>
                <div class="col-md-4">
                  <p class="two">img 2</p>
                </div>
                <div class="col-md-4">
                  <p class="three">img 3</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="icoExplanation">
        <p class="smallTitle">What is an ICO?</p><br>
        <p>Initial coin offering (ICO) is an unregulated means of crowdfunding via cryptocurrency.
          The term is often confused with 'token sale' or crowdsale, which refers to a method of
          selling participation in an economy, giving investors access to the features of a particular
           project starting at a later date. ICOs, on the other hand, sell a right of ownership or
            royalties to a project.</p>
        <p>You give the ICO bitcoin or ethereum, and you get some of that ICO's coins or token.
            We as investors hope that successful projects will cause tokens’ value to rise in order
            to sell them on exchanges and collect the profit, or you could just keep them, bitcoin
            went from a value of couple of cents to 3000 euro in couple of years, so you never know
            what coin could be the next bitcoin.</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="theTeam">
        <p class="smallTitle" id="team">The Team</p>
        <div class="row">
          <div class="col-md-4">
            pic
          </div>
          <div class="col-md-4">
            pic
          </div>
          <div class="col-md-4">
            pic
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
