<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="smallTitle">Who are we?</p>
      <p>A team of three, trying to help you find order in the ICO chaos by sorting through the ICO's, reading the whitepapers,
        researching about the developers team and finally suggesting what we think might be the best ICO this month.
      So in no order here we are:<br></p>
      <p id="D">Daithi</p>
      <p>The crazy scientist who lurks in behind this project and responsible to bring you all the correct data and info about different token and coins.
      He is the beating heart of the back end.</p>
      <hr>
      <p id="E">Enda</p>
      <p>The voice of reason and wisdom in the group, keeping us on the right path with ideas and in charge for the overall look of the project.</p>
      <hr>
      <p id="A">Antonio</p>
      <p>In charge of the design for now.</p>
    </div>
  </div>
</div>
