@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
.container {
  margin-top: 6%;
  width: 100%;
  font-family: 'Lato';
  font-weight: 400;
  text-align: center;
}

.text {
  font-size: 36px;
  text-align: center;
  font-family: 'Libre Baskerville';
  line-height: 1.35;
  color: #d9e1e8;
}

.smallTitle{
  padding: 1%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

hr{
  height: 1px;
  background: black;
  width: 60%;
}

#D{
  padding: 2%;
}
#E{
  padding: 2%;
}
#A{
  padding: 2%;
}
