@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
.container {
  margin-top: 6%;
  width: 100%;
  font-family: 'Lato';
  font-weight: 400;
  text-align: center;
}

.text {
  font-size: 36px;
  text-align: center;
  font-family: 'Libre Baskerville';
  line-height: 1.35;
  color: #d9e1e8;
}
