.navigation{
  width: 100%;
  height: 60px;
  margin: 30px;

  font-size: 14px;
  text-align: right;
  word-spacing: 20px;
  font-weight: 300;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 17px 0 0 50px;
}

li{
  color: #282c37;
  display: inline-block;
  float: none;
  padding: 3px;
  text-decoration: none;
}

#logoSpace{
  text-align: left;
}
