<div class="navigation">
     <ul>
       <p id="logoSpace">space for logo</p>
       <a routerLink="/"><li>HOME</li></a>
       <a routerLink="/about"><li>ABOUT</li></a>
       <a routerLink="/experiences"><li>EXPERIENCES</li></a>
       <a routerLink="/contact"><li>CONTACT</li></a>
     </ul>
   </div>
