<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-nav></app-nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
